@using CSharpExampleArtGallery
@model List<Artist>

@{
    ViewData["Title"] = "ARTISTS";
    ViewData["Controller"] = "Artists";
    ViewBag.Links = new Dictionary<string, string> 
        {
            { "Add", "Add a New Artist"},
            { "Delete", "Delete Artists" }
        };
}

<div class="main">
    <h2>ARTISTS</h2>

    @* TODO 17: Add conditional custom error message if unable to delete artists *@

    @if(Model?.Count > 0)
    {
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Location</th>
                    <th></th>
                </tr>
            </thead>
            @foreach(Artist artist in Model)
            {
                int count = artist.Artworks.Count;

                @* TODO 17: Create ternary to assign conditional classes to <tr> for errors *@

                <tr>
                    <td>@artist.Id</td>
                    <td>@artist.FirstName</td>
                    <td>@artist.LastName</td>
                    <td>@artist.Location</td>
                    <td>
                        @if (count > 0)
                        {
                            <span>View <a asp-controller="Artworks" asp-action="Index" asp-route-artistid="@artist.Id">@count artwork@(count == 1 ? "" : "s")</a></span>
                        }
                    </td>
                </tr>
            }
        </table>
    }
    else
    {
        <em>No artists to display.</em>
    }
</div>
